/* #drawingArea{
    background: url('../PAINT/fondo_canvas.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

.main_content {
    margin-top: 50px;
    padding: 0;
    background: url('../PAINT/Fondo.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}
.background{
    background: navy
}
.draw{
    width: 90%;
    margin: 0 auto;
    position: relative;
}
* {
    margin: 0px;
    padding: 0px;
}

.literally .button-style-1 {
    border: 2px solid transparent;
    border-radius: 3px
}

.literally .button-style-1 {
    text-decoration: none;
    cursor: pointer
}

.literally .button-style-1.selected:not(.disabled) {
    background-color: transparent
}

.literally .button-style-1:hover:not(.disabled) {
    border-color: transparent
}

.literally .button-style-1.disabled {
    cursor: default;
    opacity: 0.3
}

.literally.toolbar-at-top .lc-drawing {
    bottom: 0;
    top: 31px
}

.literally.toolbar-at-top .lc-options {
    top: 0;
    border-bottom: 1px solid transparent
}

.literally.toolbar-at-bottom .lc-drawing {
    bottom: 31px;
    top: 0
}

.literally.toolbar-at-bottom .lc-options {
    bottom: 0;
    border-top: none;
    width: 33%;
    z-index: 9999;
    margin: 0 auto
}

.literally.toolbar-hidden .lc-drawing {
    left: 0;
    right: 0;
    bottom: 0;
    top: 0
}

.literally.toolbar-hidden .lc-options,
.literally.toolbar-hidden .lc-picker {
    display: none
}

.literally {
    position: relative;
    background-color: #0000;
    min-height: 100vh;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -ms-touch-action: none;
    user-select: none
}

.literally,
.literally * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.literally>* {
    position: absolute
}

.literally .lc-picker {
    bottom: 0;
    display: flex;
    height: 95px;
    width: 40%;
    background-color: transparent
}

.literally .lc-drawing {
    right: 0;
    left: 0;
    bottom: 0;
    left: 0
}

.literally .lc-drawing>* {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.literally .lc-drawing.with-gui {
    right: 0;
    left: 0px;
    cursor: default;
    height: 80vh;
}

.literally .lc-drawing.with-gui .polygon-toolbar {
    top: auto;
    height: 31px
}

.literally .lc-drawing.with-gui .polygon-toolbar .polygon-toolbar-button {
    float: left
}

.literally .lc-drawing.with-gui .text-tool-input:focus {
    outline: none
}

.literally .lc-picker {
    z-index: 1001;
    border-right: 1px solid transparent;
    position: absolute;
    bottom: 20px;
    left: calc(25% + 100px);

}
.toolbar-button.thin-button.disabled{
    display: none
}

.literally .lc-picker .toolbar-button {
    width: 2em;
    height: 2em;
    line-height: 26px;
    margin: 2px;
    padding: 0;
    cursor: pointer;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 3px
}

.literally .lc-picker .toolbar-button {
    text-decoration: none;
    cursor: pointer
}

.literally .lc-picker .toolbar-button.selected:not(.disabled) {
    background-color: transparent;
    border: solid 1.3px #c0a673;
}

.literally .lc-picker .toolbar-button:hover:not(.disabled) {
    border-color: transparent
}

.literally .lc-picker .toolbar-button.disabled {
    cursor: default;
    opacity: 0.3
}

.literally .lc-picker .thin-button {
    cursor: pointer;
    float: left;
    position: relative
}

.literally .lc-picker .fat-button {
    clear: both;
    width: 56px
}

.literally .lc-picker .lc-pick-tool,
.literally .lc-picker .lc-undo,
.literally .lc-picker .lc-redo,
.literally .lc-picker .lc-zoom-in,
.literally .lc-picker .lc-zoom-out {
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center
}

.literally .color-well {
    font-size: 10px;
    float: left;
    width: 60px
}

.literally .color-well.open {
    background-color: transparent
}

.literally .color-well-color-container {
    border: 2px solid transparent;
    border-radius: 3px;
    border: 1px solid transparent;
    position: relative;
    width: 28px;
    height: 28px;
    margin: 1px auto;
    overflow: visible
}

.literally .color-well-color-container {
    text-decoration: none;
    cursor: pointer
}

.literally .color-well-color-container.selected:not(.disabled) {
    background-color: transparent
}

.literally .color-well-color-container:hover:not(.disabled) {
    border-color: transparent
}

.literally .color-well-color-container.disabled {
    cursor: default;
    opacity: 0.3
}

.literally .color-well-color-container .color-well-checker {
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: black
}

.literally .color-well-color-container .color-well-checker-top-left {
    border-top-left-radius: 3px
}

.literally .color-well-color-container .color-well-checker-bottom-right {
    border-bottom-right-radius: 3px
}

.literally .color-well-color-container .color-well-color {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 3px
}

.literally .color-picker-popup {
    position: absolute;
    z-index: 1;
    background-color: white;
    border: 1px solid transparent;
    left: 60px;
    bottom: 31px
}

.literally .color-picker-popup .color-row {
    clear: both
}

.literally .color-picker-popup .color-row .color-cell {
    cursor: pointer;
    width: 20px;
    height: 20px;
    line-height: 20px;
    float: left
}

.literally .color-picker-popup .color-row .color-cell:hover,
.literally .color-picker-popup .color-row .color-cell.selected {
    border: 1px solid transparent;
    line-height: 18px
}

.literally .color-picker-popup .color-row .color-cell.transparent-cell {
    width: 100%
}

.literally .horz-toolbar {
    height: 31px;
    background-color: transparent
}

.literally .horz-toolbar .label {
    line-height: 30px;
    margin: 0 0.25em 0 0.25em;
    font-size: 12px
}

.literally .horz-toolbar span {
    line-height: 30px;
    margin: 0 0.25em 0 0.25em;
    font-size: 12px;
    float: left
}

.literally .horz-toolbar .square-toolbar-button {
    border: 2px solid transparent;
    border-radius: 3px;
    margin: 1px;
    border: 1px solid transparent;
    width: 28px;
    height: 28px;
    float: left;
    position: relative
}

.literally .horz-toolbar .square-toolbar-button {
    text-decoration: none;
    cursor: pointer;
    width: 40px;
    display: flex;
    justify-content: center;
}

.literally .horz-toolbar .square-toolbar-button.selected:not(.disabled) {
    background-color: transparent
}

.literally .horz-toolbar .square-toolbar-button:hover:not(.disabled) {
    border-color: transparent
}

.literally .horz-toolbar .square-toolbar-button.disabled {
    cursor: default;
    opacity: 0.3
}

.literally .horz-toolbar .square-toolbar-button img {
    max-width: 100%;
    max-height: 100%
}

.literally .horz-toolbar .square-toolbar-button label {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    line-height: 26px;
    margin: auto;
    float: none;
    text-align: center
}

.literally .polygon-toolbar {
    position: absolute;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    width: 100%
}

.literally.toolbar-at-bottom .polygon-toolbar {
    top: -100%
}

.literally.toolbar-at-top .polygon-toolbar {
    top: 100%
}

.literally .lc-options {
    z-index: 1;
    right: 0;
    left: 61px
}

.literally .lc-options .lc-font-settings {
    height: 30px;
    line-height: 31px;
    padding-left: 4px;
    background-color: transparent;
    white-space: nowrap;
}
.lc-font-settings select{
    background: #0000;
    padding: 5px;
    color: #BF9669;
    font-size: 15px;
    border: 1.5px solid;
    margin-left: 15px;
}

.literally .lc-options .lc-font-settings input {
    margin: 0 0.5em 0 0
}

.literally .lc-options .lc-font-settings input[type=checkbox] {
    margin: 0 0.5em 0 0.5em
}

.imgToPrint {
    width: 100%;
}

.buttons {
    position: absolute;
    right: 55px;
    bottom: 40px;
    width: 100px;
    height: 25px;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    background-color: #f06521;
    border: none;
    color: #fff
}

#root>div>div:nth-child(2)>div.cropper-container.cropper-bg {
    height: 100vh !important;
}


.lc-undo {

}
.lc-zoom {
    display: none;
}

div[title="Goma"]{
    background-image: url('../PAINT/eraser.svg')!important
}
div[title="Lapiz"] {
    background-image: url('../PAINT/pencil.svg') !important
}
div[title="Texto"] {
    background-image: url('../PAINT/text.svg') !important
}
div[title="Linea"] {
    background-image: url('../PAINT/line.svg') !important
}
#undoAction {
    background-image: url('../PAINT/reset.svg') !important
}
#redoaction{
    background-image: url('../PAINT/reset.svg') !important;
    transform: rotateY(180deg);
}
div[title="Selecciona Figura"]{
    background-image: url('../PAINT/arrow.svg') !important;
}
div[title="Cubeta"] {
    background-image: url('../PAINT/bucket.svg') !important;
}
div[title="Rectangulo"] {
    background-image: url('../PAINT/square.svg') !important;
}

div[title="Circulo"] {
    background-image: url('../PAINT/circle.svg') !important;
}

div[title="Polygono"],
div[title="Triangulo"] {
    background-image: url('../PAINT/triangle.svg') !important;
}
.lc-drawing canvas {
    width: 100% !important;
    height: 80vh !important;
    
}
.lc-drawing canvas.animation {
    width: 100% !important;
    height: 80vh !important;
    animation: desinvolvec 3s;
    -moz-animation: desinvolvec 3s;
    /* Firefox */
    -webkit-animation: desinvolvec 3s;
    background: url('../PAINT/fondo_canvas.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@keyframes desinvolvec{
    from {width: 0%;} 
    to{width:100%;} 
}
@-moz-keyframes desinvolvec{
    from {width: 0%;} 
    to{width:100%;} 
}
@-webkit-keyframes desinvolvec{
    from {width: 0%;} 
    to{width:100%;} 
}
.rollo_izq{
    position: absolute;
    z-index: 1;
    left: -40px;
    top: -52px;
    height: 96vh;
}
.rollo_der{
    position: absolute;
    z-index: 1;
    right:1290px;
    top: -52px;
    height: 96vh;
}
.rollo_der.animation {
    position: absolute;
    z-index: 1;
    right: -30px;
    top: -52px;
    height: 96vh;
    animation: desinvolve 3s;
    -moz-animation: desinvolve 3s;
    -webkit-animation: desinvolve 3s;
}
@keyframes desinvolve{
    from {right: 1290px;} 
    to{right:-30px;} 
}
@-moz-keyframes desinvolve{
    from {right: 1290px;} 
    to{right:-30px;} 
}
@-webkit-keyframes desinvolve{
    from {right: 1290px;}
    to {right: -30px;}
}

.cropper-container.cropper-bg{
    background: none;
    width: 100%;
    height: 80vh;
}
.lc-picker-contents{
    background-image: url('../PAINT/fondo-herramientas.svg');
    display: flex;
    justify-content: center;
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    margin: 10px auto;
    padding: 15px;
    height: 94px;
}
.lc-picker-contents div:nth-child(15){
    display: flex;
    justify-content: flex-start;
    width: 100%;
    position: absolute;
    bottom: 0;
}

/* .lc-undo-redo {
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
} */
.literally.toolbar-at-bottom>div.lc-picker>div>div:nth-child(11)>div.lc-undo-redo {
    display: none;
}
#colorsPallete{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: self-start;
    width: auto;
    position: absolute;
    bottom: 20px;
    left: 3%;
    z-index: 999999999;
}
#colorsPallete ul{
    display: flex;
}
#colorsPallete ul li{
    list-style: none;
    border: none;
    height: 35px;
    width: 35px;
    border-radius: 100%;
    margin: 3px
}
#colorsPallete li.active {
    border: solid 2px #c0a673 !important;
}

.lc-color-pickers {
    display: none;
}
.lc-clear{
    display: none
}
#endBtn {
    bottom: 20px;
    position: absolute;
    right: 0px;
}
#downloadBtn {
    position: absolute;
    bottom: -15px;
    right: 0px;
}
.square-toolbar-button{
    width: 100%;
}
circle{
    fill:#5B8AB4
}

.lc-options.horz-toolbar div:first-child:not(.lc-font-settings),
#pointsStroke {
    display: flex;
    justify-content: space-around

}
.literally.toolbar-at-bottom>div.lc-options.horz-toolbar>div>span:nth-child(3),
.literally.toolbar-at-bottom>div.lc-options.horz-toolbar>div>span:nth-child(4) {
    display: none;
}
.literally.toolbar-at-bottom .lc-options {
    bottom: 15px;
    border-top: none;
    width: 33%;
    z-index: 9999;
    margin: 0 auto;
}
.polygon-toolbar{
    display: none!important;
}

.imagenDibujoTerminar{
    width: 20px !important;
    height: 20px !important;
    vertical-align: middle !important;
}